<article class="box-card">
  <h2><%= box.name %></h2>
  <ul>
    <li>Volume: <%= box.volume %> cubic cm</li>
    <li>Color: <%= box.color %></li>
    <li>Material: <%= box.material %></li>
  </ul>
</article>
